---
import BaseHead from '@/components/BaseHead.astro';
import { Design } from '@/components/Design'
import { Faq } from '@/components/Faq1'
import schema from './schema.json'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead seo={schema.seo} />
		<script id="chatbox" src="//app.segurosia.com/widget/v1/chatbox.min.js" defer></script>
	</head>
	<body>
		<Design design={schema.design} schema={schema}>
			<Faq 
				title={schema.faq.title}
				questions={schema.faq.questions}
				client:visible
			/>
		</Design>
		<div
			class="chatbox"
			data-id="8c72f6d1-e06a-40fe-b6d6-5ff4a53f9040"
		/>
	</body>
</html>
