---
import BaseHead from '@/components/BaseHead.astro';
import { Design } from '@/components/Design'
import { Faq } from '@/components/Faq1'
import schema from './schema.json'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead seo={schema.seo} />
	</head>
	<body>
		<Design design={schema.design} schema={schema}>
			<Faq 
				title={schema.faq.title}
				questions={schema.faq.questions}
				client:visible
			/>
		</Design>
	</body>
</html>
