---
import BaseHead from '@/components/BaseHead.astro';
import { getResource } from '@/utils';
import schema from './schema.json'
import { Footer } from '@/components/Footer1'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead seo={schema.seo} />
	</head>
	<body class="text-lg">
		<div>
			<div>
				<a href={getResource('/')} class="w-[90%] mx-auto pt-10 max-w-[1232px] flex items-center">
					{schema.header.companyLogoLink && (
					  <img
						src={schema.header.companyLogoLink}
						class="w-52"
						alt={schema.header.companyName}
						loading="lazy" 
					  />
					)}
				  </a>
			</div>
		  </div>
		  <div>
			<div class="w-[90%] mx-auto py-20 max-w-[1232px]">
			  <div class="grid grid-cols-1 lg:grid-cols-[.5fr,1fr] gap-14">
				<div class="flex lg:flex-col">
				  <a href={getResource('/legal/terms-of-service')} class="border-b-4 lg:border-l-4 lg:border-b-0 border-[#f5f3f2] bg-white mx-0 py-4 px-6">Aviso Legal</a>
				  <a href={getResource('/legal/privacy-policy')} aria-current="page" class="border-b-4 lg:border-l-4 lg:border-b-0 border-[#9333ea] bg-white mx-0 py-4 px-6 text-[#9333ea]">Política de Privacidad</a>
				  <a href={getResource('/legal/cookie-policy')} class="border-b-4 lg:border-l-4 lg:border-b-0 border-[#f5f3f2] bg-white mx-0 py-4 px-6">Política de Cookies</a>
				  <a href={getResource('/legal/info')} class="border-b-4 lg:border-l-4 lg:border-b-0 border-[#f5f3f2] bg-white mx-0 py-4 px-6">Nota Informativa</a>
				</div>
				<div >
					<div class="flex flex-col gap-4 mb-10">
						<h1>Política de Privacidad de COBERIO</h1>
						<div class="flex flex-col gap-4">
							<p>La confidencialidad y la seguridad son valores primordiales en COBER (Coberio, S.L.), y en consecuencia, asumimos el compro	miso de garantizar la privacidad del usuario en todo momento y de no recabar información innecesaria. A continuación, con el fin de cumplir plenamente con el Reglamento General de Protección de Datos 2016/679 (en adelante “RGPD”), en relación con la Ley Orgánica de Protección de Datos y Garantía de Derechos Digitales, de 3/2018, de 5 de diciembre, SEGUROS IA informa de la presente Política de Privacidad donde se detallan sus prácticas de tratamiento de datos personales relacionadas con la prestación de sus servicios de mediación de seguros y otros servicios (en adelante, los Servicios), le proporcionamos toda la información necesaria sobre nuestra Política de Privacidad en relación con los datos personales que recabamos, explicándole:</p>
							<ul class="ml-5 list-disc" role="list">
								<li>Quién es el responsable del tratamiento de sus datos.</li>
								<li>Para qué finalidades recabamos los datos que le solicitamos.</li>
								<li>Cuál es la legitimación para su tratamiento.</li>
								<li>Durante cuánto tiempo los conservamos.</li>
								<li>A qué destinatarios se comunican sus datos.</li>
								<li>Cuáles son sus derechos.</li>
							</ul>
						</div>
					</div>
						
					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">RESPONSABLE DEL TRATAMIENTO</h3>
						<div>
							<p>Responsable del tratamiento: COBERIO, S.L.</p>
							<p>NIF: B-10648384</p>
							<p>Domicilio: Calle Alejandro Dumas, 17, oficinas, 29004, Málaga.</p>
							<p>Correo electrónico: dpo@coberio.com</p>
						</div>
					</div>
						
					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">DATOS PERSONALES</h3>
						<div class="flex flex-col gap-4">
							<p>Esta Política de Privacidad cubre todos los datos recopilados y utilizados por nosotros en la página web, así como a través de los diferentes medios de contacto con nosotros que son facilitados en la página web, correo electrónico, chat, redes sociales o cualquier formulario de recogida (en adelante, el <b>“Sitio Web”</b> o <b>“Cober”</b>, indistintamente).</p>
							<p>Por lo tanto, esta Política de Privacidad se aplica a los usuarios del Sitio Web (en adelante, los “<strong>Usuarios</strong>” o “<strong>Usted</strong>”) así como a los datos introducidos mediante otros formularios de toma de datos que hagan referencia a esta Política de Privacidad.</p>
						</div>
					</div>

					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">DATOS PERSONALES RECOPILADOS</h3>
						<div class="flex flex-col gap-4">
							<p>Datos Personales hace referencia a cualquier información o datos que pueda identificarlo, ya sea directa o indirectamente.</p>
							<p>En este sentido, los datos personales que se recaban:</p>
							<ul class="ml-5 list-disc" role="list">
								<li><strong>Datos obtenidos al completar el formulario de “Solicitud de Acceso”: </strong>Cuando Usted solicita información a través del Sitio Web, recopilamos datos de carácter identificativo.</li>
								<li><strong>Datos obtenidos al completar el formulario de “Lista de Espera”: </strong>Cuando Usted solicita información a través del Sitio Web sobre el lanzamiento de nuestra solución, recopilamos datos de carácter identificativo</li>
								<li><strong>Datos obtenidos al suscribirse en la “Newsletter”: </strong>Cuando autoriza el envío de comunicaciones comerciales (Newsletter), recopilamos datos de carácter identificativo.</li>
								<li><strong>Datos obtenidos al ponerse en contacto con nosotros y atender a sus consultas y/o peticiones</strong>: Cuando Usted se pone en contacto con nosotros a través de los medios facilitados en el Sitio Web.</li>
					 		 	<li><strong>Datos obtenidos durante el proceso de comercialización de un seguro</strong>: Al iniciar el proceso de contratación de un seguro distribuido por nosotros en calidad de agentes colaboradores, recopilamos los datos necesarios para la contratación del mismo.</li>
							</ul>
							<p><strong>Categorías de datos tratados</strong></p>
							<p>Las categorías de datos personales tratados conforme a lo anterior son:</p>
							<ul class="ml-5 list-disc" role="list">
								<li>Datos identificativos y de contacto, como: nombre y apellidos, NIF, domicilio, teléfono, dirección postal y electrónica, etc.</li>
								<li>Datos de características personales, como: estado civil, sexo, fecha de nacimiento, edad, nacionalidad, profesión, etc.</li>
								<li>Datos derivados de la relación contractual y comercial.</li>
								<li>Datos sensibles como los de salud, exclusivamente cuando sean necesarios para valoración y selección de riesgos (en su caso), así como para la gestión de los siniestros.</li>
								<li>Datos bancarios, financieros, económicos y de seguros.</li>
								<li>Datos de terceras personas, bien porque sean asegurados, beneficiarios o terceros perjudicados, y han sido facilitados por el tomador de la póliza o por sus propios titulares.</li>
							</ul>
							<p>Usted garantiza que todos los datos sobre su identidad y legitimidad facilitados a Cober a través del Sitio Web o los diferentes formularios o entradas de datos son veraces, exactos y completos. Asimismo, se compromete a mantener actualizados sus datos. En el supuesto de que Usted facilite cualquier dato falso, inexacto o incompleto o si Cober considera que existen motivos fundados para dudar sobre la veracidad, exactitud e integridad de estos, Cober podrá denegarle el acceso y uso presente o futuro del Sitio Web o de cualquiera de sus contenidos y/o servicios.
							</p>
							<p><strong>Obligación de facilitarnos sus datos personales y consecuencias de no hacerlo.</strong></p>
							<p>El suministro de Datos Personales requiere una edad mínima de 18 años o, en su caso, disponer de capacidad jurídica suficiente para contratar.</p>
							<p>Los datos personales solicitados son necesarios para gestionar sus solicitudes y/o prestarle los servicios que pueda contratar, por lo que, si no nos los facilita, no podremos atenderle correctamente ni préstarle los servicios que ha solicitado.</p>
							<p>En todo caso, nos reservamos el derecho de decidir sobre la incorporación o no de sus datos personales y demás información a nuestras bases de datos.</p>
						</div>
					</div>

					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">FINALIDADES DEL TRATAMIENTO DE LOS DATOS PERSONALES</h3>
						<div class="flex flex-col gap-4">
							<p>Los datos personales facilitados a través del Sitio Web son necesarios para:</p>
							<ul class="ml-5 list-disc" role="list">
								<li>Facilitarle un medio para que pueda ponerse en contacto con nosotros (a través del correo electrónico y/o número de teléfono facilitado) y poder resolver las consultas y/o peticiones sobre el Sitio Web.</li>
								<li>Facilitarle un medio para que pueda solicitar información de nuestros servicios a través de los formularios dispuestos en el Sitio Web.</li>
								<li>Responder a sus preguntas y/o peticiones y atender y gestionar las quejas y reclamaciones que en su caso se presenten, por parte de tomadores, asegurados, beneficiarios, terceros perjudicados y derechohabientes cuando así corresponda conforme a lo previsto en los contratos suscritos.</li>
					  			<li>Mejorar, desarrollar y probar nuestro Sitio Web.</li>
								<li>Proteger los derechos, la propiedad y/o la seguridad de Cober.</li>
								<li>Ejecutar obligaciones contractuales en relación con las pólizas de seguro u otros servicios intermediados por COBERIO con base en las cuales el Usuario podrá ser beneficiario, asegurado y / o tomador según las circunstancias, así como para cumplir con cualesquiera otras finalidades relacionadas con la prestación de servicios de mediación o cualquier otro servicio que pudiera prestarse por parte de COBERIO o sus colaboradores, incluyendo las obligaciones derivadas de los acuerdos entre las partes para la tramitación de los siniestros;</li>
								<li>Realizar análisis, estudio, evaluación, comercialización, promoción, información y realización de ofertas sobre productos y servicios comercializados por COBERIO y Llevar a cabo medidas precontractuales como las propias de la formalización del propio contrato de seguro y sus adhesiones.</li>
								<li class="flex flex-col gap-4">Envío de comunicaciones comerciales, en relación con los productos y servicios comercializados (especialmente en materia de seguros) no solo por correo postal, teléfono, SMS, aplicaciones de mensajería instantánea, redes sociales, correo electrónico, o cualquier otro medio electrónico o telemático disponible en cada momento, en los términos previstos en el artículo 21 de la Ley 34/2002, de Servicios de la Sociedad de la Información y demás normativa aplicable;<p>Le recordamos que en todo momento el Usuario tiene derecho a no recibir información y publicidad, muy particularmente por medios electrónicos y/o telemáticos, o por correo postal. Por tanto, si el Usuario quisiera darse de baja y dejar de recibir comunicaciones comerciales y publicidad por medios electrónicos, telemáticos o por cualquier otro medio disponible, podrá indicárselo a COBERIO enviando un correo electrónico a la siguiente dirección: dpo@coberio.com indicando sus datos identificativos y manifestando su oposición a recibir comunicaciones comerciales por medios electrónicos. También se pondrán a su disposición medios para darse de baja conforme a lo previsto en la Ley 34/2002 citada.</p></li>
								<li>Cumplir con sus obligaciones legales y regulatorias;</li>
					  			<li>Realizar aquellos tratamientos que sean necesarios para la satisfacción de los intereses legítimos, pero garantizando que los derechos y libertades de los Usuarios no se vean afectados;</li>
								<li>Recopilar información de sus clientes y de sus pólizas de seguro, incluyendo, sin limitación, nombres, ramos de seguro, fechas de efecto, así como información sobre las compañías aseguradoras que proporcionan cobertura a sus clientes o que proporcionan cotizaciones para los clientes de COBERIO. Esta información se aloja en una o varias bases de datos de COBERIO. En este supuesto y en relación a la información mencionada, COBERIO podrá usar o revelar dicha información a las empresas pertenecientes su Grupo de empresas, filiales o asociadas. Adicionalmente a la utilización de la información en beneficio de sus clientes, las referidas bases de datos de clientes de COBERIO podrán ser accesibles por las empresas pertenecientes a su Grupo de empresas, filiales o asociadas y compañías aseguradoras con otras finalidades, incluyendo expresamente la realización de estudios de mercado.</li>
								<li>Por otro lado, para el correcto funcionamiento del Sitio Web, podemos utilizar cookies técnicas y funcionales. Si quiere obtener información detallada sobre las cookies que utilizamos, puede consultar nuestra <a href="https://www.coberio.com/legal/cookie-policy">Política de Cookies</a>.</li>
								<li>Intercambiar información con la Entidad Aseguradora en cumplimiento de los contratos entre las Partes.</li>
								<li>Llevar a cabo encuestas de calidad sobre de los servicios prestados, así como realización de análisis y estudios de mercado.</li>
								<li>Realizar grabaciones de las conversaciones telefónicas que se mantengan entre el afectado y COBERIO o sus agentes colaboradores con fines de control de calidad, así como para la defensa de los intereses de COBERIO en caso de controversia.</li>
								<li>Prevenir el blanqueo de capitales y la financiación del terrorismo, al igual que prevenir o detectar cualquier otra conducta que pueda suponer la comisión de una actividad fraudulenta relacionada con el contrato, e informar a los organismos o autoridades competentes.</li>
								<li>Elaborar perfiles con fines comerciales, a los efectos del diseño y comercialización de productos de seguros.</li>
							</ul>
						</div>
					</div>
					
					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">LEGITIMACIÓN PARA EL TRATAMIENTO DE LOS DATOS PERSONALES</h3>
						<div class="flex flex-col gap-4">
							<ul class="ml-5 list-disc" role="list">
								<li>Gestionar sus solicitudes, consultas y peticiones: El tratamiento de sus datos es necesario para facilitarle la información requerida, de acuerdo con la relación precontractual mantenida con Usted, así como su consentimiento expreso al completar el formulario en cuestión y aceptar la presente Política de Privacidad.</li>
								<li>Envío de comunicaciones comerciales:<strong> </strong>La base legitimadora es el consentimiento expreso que nos presta (por ejemplo: cuando autoriza el envío de publicidad o de nuestra <em>newsletter</em>).</li>
								<li>Atención al Usuario: Desde Cober tenemos un interés legítimo para atender las solicitudes o consultas que nos plantee a través de los diversos medios de contacto existentes. Entendemos que el tratamiento de estos datos resulta también beneficioso para Usted en tanto que nos permite poder atenderle adecuadamente y resolver las consultas planteadas.</li>
					  			<li>Cuando su consulta esté relacionada con el ejercicio de los derechos sobre los que le informamos más abajo, o con reclamaciones relacionadas con nuestros servicios, lo que nos legitima para tratar sus datos es el cumplimiento de obligaciones legales por nuestra parte.</li>
							</ul>
						</div>
					</div>

					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">DESTINATARIOS DE LOS DATOS PERSONALES RECABADOS</h3>
						<p>Sus Datos Personales podrán ser comunicados a terceros, esto es:</p>
						<div class="flex flex-col gap-4">
							<ul class="ml-5 list-disc" role="list">
								<li>Terceros que nos ayudan a proporcionar servicios de TI, como proveedores del Sitio Web, servicios de alojamiento, mantenimiento y soporte en nuestras bases de datos, así como en nuestro software y aplicaciones que pueden contener datos sobre Usted.</li>
								<li>Terceros que nos ayudan a proporcionar servicios digitales y reseñas, CRM, análisis web y motor de búsqueda.</li>
								<li>Agencias de publicidad, marketing, medios digitales y redes sociales para ayudarnos a ofrecer publicidad, marketing y campañas, para analizar su efectividad y para administrar su contacto y sus preguntas.</li>
								<li>Mediadores de seguros y entidades aseguradoras con los que mantenemos una relación mercantil para la correcta prestación del servicio y gestión de la contratación de un seguro.</li>
								<li>En el caso de que sus datos provengan de la adhesión a un seguro colectivo contratado por un Tomador distinto de usted, a dicho tomador para garantizar el cumplimiento de los acuerdos alcanzados así como a efectos de verificación y seguimiento.</li>
								<li>Terceros para el cumplimiento de una normativa legal.</li>
							</ul>
						</div>
					</div>

					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">TRANSFERENCIAS DE DATOS INTERNACIONALES</h3>
						<p>En ocasiones, algunos proveedores de Cober pueden tener sus servidores fuera del Espacio Económico Europeo (EEE).</p>
						<p>Así pues, informamos al Usuario que en el caso de que sus datos sean transferidos o almacenados fuera del Espacio Económico Europeo (EEE), el Usuario estará aceptando expresamente la necesaria transferencia de datos internacionales a los servidores internacionales de dichos proveedores de Cober, siendo la única finalidad el almacenamiento de los datos en los servidores para poder prestarle el servicio.</p>
						<p>En todo caso, todas las transferencias internacionales se realizarán sobre la base de Cláusulas Contractuales Tipo (CCT), previa evaluación de las circunstancias de las transferencias y las medidas complementarias que aplicaremos, así como las garantías que exigiremos a estos proveedores para garantizar un nivel adecuado de protección de los datos transferidos.</p>
						<p>En caso de que el usurario tenga dudas acerca de la transferencia internacional de sus datos, deberá ponerse en contacto con Cober y estaremos encantados de ampliarle la información sobre este tema.</p>
					</div>

					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">CONSERVACIÓN DE SUS DATOS PERSONALES</h3>
						<p>Conservaremos únicamente sus Datos Personales durante el periodo de tiempo que necesitemos a propósito de la finalidad para los que los tratamos o durante el periodo de tiempo legalmente establecido para ello.</p>
						<p>Los Datos Personales obtenidos a través de los distintos formularios en el Sitio Web, a través del correo electrónico o cualquier otro medio facilitado por Usted, se conservarán mientras continúe la relación contractual; hasta que se realice el servicio; o durante el tiempo de atención necesario para la resolución de su consulta.</p>
						<p>Es posible que retengamos algunos datos personales para cumplir con nuestras obligaciones legales o reglamentarias, así como para administrar nuestros derechos (por ejemplo, para hacer valer nuestras reclamaciones ante los Tribunales) o con fines estadísticos o históricos.</p>
						<p>Cuando ya no necesitemos usar sus datos personales, se eliminarán de nuestros sistemas y registros o se anonimizarán para que ya no podamos identificarlos.</p>
					</div>
					
					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">DERECHOS EN RELACIÓN CON SUS DATOS PERSONALES</h3>
						<p>Cualquier persona puede retirar su consentimiento en cualquier momento, cuando el mismo se haya otorgado para el tratamiento de sus datos. En ningún caso, la retirada de este consentimiento condiciona la ejecución del contrato de suscripción o las relaciones generadas con anterioridad.</p>
						<p>Igualmente, puede ejercer los siguientes derechos:</p>
						<div class="flex flex-col gap-4">
							<ul class="ml-5 list-disc" role="list">
								<li>Solicitar el acceso a sus datos personales o su rectificación cuando sean inexactos.</li>
								<li>Solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para los fines para los que fueron recogidos.</li>
								<li>Solicitar la limitación de su tratamiento en determinadas circunstancias.</li>
								<li>Solicitar la oposición al tratamiento de sus datos por motivos relacionados con su situación particular.</li>
								<li>Solicitar la portabilidad de los datos en los casos previstos en la normativa.</li>
								<li>Otros derechos reconocidos en las normativas aplicables.</li>
							</ul>
							<p>Dónde y cómo solicitar sus Derechos: Mediante un escrito dirigido al Responsable a su dirección postal o electrónica (indicadas al inicio de este documento), indicando la referencia “Datos Personales”, especificando el derecho que se quiere ejercer y respecto a qué datos personales.</p>
							<p>En caso de divergencias con la empresa en relación con el tratamiento de sus datos, puede presentar una reclamación ante la Agencia de Protección de Datos (<a href="http://www.aepd.es/">www.aepd.es</a>).</p>
						</div>
					</div>
					
					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">SEGURIDAD DE SUS DATOS PERSONALES</h3>
						<p>Con el objetivo de salvaguardar la seguridad de sus datos personales, le informamos que hemos adoptado todas las medidas de índole técnica y organizativa necesarias para:</p>
						<div class="flex flex-col gap-4">
							<ul class="ml-5 list-disc" role="list">
								<li>Garantizar la seguridad de los datos personales suministrados de su alteración, pérdida y tratamientos o accesos no autorizados.</li>
								<li>Garantizar la confidencialidad, integridad, disponibilidad y resilencia permanente en los sistemas y servicios del tratamiento.</li>
								<li>Restaurar la disponibilidad y el acceso a los datos personales de forma rápida, en caso de incidente físico o técnico.</li>
								<li>Verificar, evaluar y valorar, de forma regular, la eficacia de las medidas técnicas y organizativas implantadas para garantizar la seguridad del tratamiento.</li>
								<li>Seudonimizar y cifrar los datos personales, en su caso.</li>
							</ul>
						</div>
					</div>
					
					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">ACTUALIZACIÓN DE SUS DATOS</h3>
						<p>Por el presente, el Usuario garantiza que los Datos Personales proporcionados son ciertos y exactos y se compromete a notificar cualquier cambio o modificación de estos. Cualquier pérdida o daño causado al Sitio web, al Responsable del Tratamiento o a cualquier tercero mediante la comunicación de información errónea, inexacta o incompleta en los formularios del Sitio web, será responsabilidad exclusiva del Usuario.</p>
					</div>

					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">COBERIO COMO ENCARGADO DEL TRATAMIENTO</h3>
						<p>COBERIO tratará los datos personales respecto a los cuales el cliente ostente la condición de responsable o encargado del tratamiento cuando ello resulte necesario para la adecuada prestación de los servicios contratados. En dicho caso, COBERIO actuará como encargado del tratamiento, conforme a los términos que a continuación se indican:</p>
						<p>COBERIO únicamente tratará los datos conforme a las instrucciones del cliente responsable o encargado del tratamiento, no utilizándolos para un fin distinto al que figura en la presente política de protección de datos y/o en las condiciones contractuales que sean de aplicación.</p>
						<p>Cumplida la prestación de los servicios que motiven el tratamiento de los datos personales, estos serán destruidos al igual que cualquier soporte o documentos en los que conste algún dato de carácter personal o cualquier tipo de información que se haya generado durante, para y/o por la prestación de los servicios objeto de las correspondientes condiciones. No obstante, COBERIO podrá mantener debidamente bloqueados los citados datos durante el periodo en el cual se puedan derivar responsabilidades de su relación con el cliente.</p>
						<p>COBERIO se obliga a mantener el debido secreto profesional respecto de los datos personales a los que deba acceder y/o tratar con el fin de cumplir en cada caso con el objeto de las condiciones del servicio que le sean de aplicación, tanto durante como después de la terminación de los mismos, comprometiéndose a utilizar dicha información únicamente para la finalidad prevista en cada caso y a exigir el mismo nivel de compromiso a cualquier persona que dentro de su organización participe en cualquier fase del tratamiento de los datos personales responsabilidad del cliente.</p>
						<p>El cliente autoriza a COBERIO, en su calidad de encargado del tratamiento, a subcontratar a terceros, en nombre y por cuenta del cliente, los servicios de almacenamiento, custodia de las copias de respaldo de datos y seguridad, y aquellos que fueran necesarios para posibilitar la prestación de los servicios contratados, respetando en todo caso las obligaciones impuestas por el RGPD y su normativa de desarrollo. En cualquier momento, el cliente podrá dirigirse a COBERIO para conocer la identidad de las entidades subcontratadas para la prestación de los servicios indicados, las cuales actuarán de conformidad con los términos previstos en este documento y previa formalización con COBERIO de un contrato de tratamiento de datos conforme a la normativa de aplicación vigente.</p>
						<p>El cliente autoriza a COBERIO a realizar las acciones que se indican a continuación, siempre que sean necesarias para la ejecución de la prestación de los servicios. Dicha autorización queda limitada a las actuaciones necesarias para la prestación de cada servicio y con una duración máxima vinculada a la vigencia de las condiciones contractuales aplicables:</p>
						<div class="flex flex-col gap-4">
							<ul class="ml-5 list-disc" role="list">
								<li>A llevar a cabo el tratamiento de los datos personales en dispositivos portátiles únicamente por los usuarios o perfiles de usuarios asignados a la prestación de los servicios.</li>
								<li>A llevar a cabo el tratamiento fuera de los locales del cliente o COBERIO, únicamente por los usuarios o perfiles de usuarios asignados a la prestación de los servicios.</li>
								<li>La entrada y salida de soportes y documentos que contengan datos personales, incluidos los comprendidos y/o anejos a un correo electrónico, fuera de los locales bajo el control del cliente responsable del tratamiento.</li>
								<li>La ejecución de los procedimientos de recuperación de datos que COBERIO se vea obligada a realizar.</li>
							</ul>
							<p>COBERIO no se hace responsable del incumplimiento de las obligaciones legales en protección de datos personales por parte del usuario y/o cliente en lo que a su actividad le corresponda y que se encuentre relacionado con la ejecución del contrato o relaciones comerciales que le unan a COBERIO. Cada parte deberá hacer frente a la responsabilidad que se derive de su propio incumplimiento de las obligaciones contractuales y de la propia normativa.</p>
						</div>
					</div>
					
					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">CAMBIOS EN LA POLÍTICA DE PRIVACIDAD</h3>
						<p>Cualquier cambio que realicemos en el futuro en la presente política de privacidad se publicará en su Sitio Web. Por favor, consulte con frecuencia para ver las actualizaciones o cambios en nuestra política de privacidad.</p>
					</div>

					<div class="flex flex-col gap-4 mb-10">
						<h3 class="font-bold">CONTACTO</h3>
						<p>Si tiene cualquier duda o preocupación acerca de la forma en que tratamos y usamos sus datos personales o desea ejercer cualquiera de los derechos anteriormente descritos, póngase en contacto con Cober a través de hola@coberio.com</p>
						<p><br></p>
						<p>Fecha de publicación: 10 de mayo de 2024<br></p>
					</div>
					
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <Footer 
			companyLogoLink={getResource(schema.header.companyLogoLink)}
			ctaText={schema.header.ctaText} 
			/>
	</body>
</html>
