---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { getResource } from '@/utils';
import '../styles/global.css';

interface Props {
	seo: {
		title: string;
		description: string;
		lang: string;
		author: string;
		image?: string;
	}
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, lang, author, image = '/blog-placeholder-1.jpg' } = Astro.props.seo;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={getResource("favicon.jpg")} />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<!-- <link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin /> -->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content={lang}>
<meta name="author" content={author}>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-KCN5Q460PF"></script>
<!-- <link rel="canonical" href="https://https://demo.themesberg.com/landwind/" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Coberio Broker - Seguros</title> -->

<!-- Meta SEO -->
<!-- <meta name="title" content="Landwind - Tailwind CSS Landing Page">
<meta name="description" content="Get started with a free and open-source landing page built with Tailwind CSS and the Flowbite component library.">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="Spanish">
<meta name="author" content="Themesberg"> -->

<!-- Social media share -->
<!-- <meta property="og:title" content="Landwind - Tailwind CSS Landing Page">
<meta property="og:site_name" content="Themesberg">
<meta property="og:url" content="https://https://demo.themesberg.com/landwind/">
<meta property="og:description" content="Get started with a free and open-source landing page for Tailwind CSS built with the Flowbite component library featuring dark mode, hero sections, pricing cards, and more.">
<meta property="og:type" content="">
<meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/github/landwind/og-image.png">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@themesberg" />
<meta name="twitter:creator" content="@themesberg" /> -->

<!-- Favicon -->
<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff"> -->
